/* global */
*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
body {
    background-color: rgb(181,200,194,0.64);
    text-align: center;
}
img {
    width: 200px;
}
a:hover {
    text-decoration: none;
}
/* about */
.title{
    text-align: center;
    font-size:  100px;
}
header {
    font-size: larger;
    text-align: center;
}
/* projects */
.projects{
    color: black;
}
.topic{
    font-size: 35px;
}
/* work */
.topic{
    font-size: 30px;
    background-color:pink;
}
.work{
    background-color: pink;
    font-size: larger;
}
/* education */
.school {
    font-size: larger;
}
/* socials */
ul {
    list-style: none;
}
.footer .btn{
    color: rgb(255, 255, 255);
    background-color: rgb(118, 146, 101);
    padding: 5px;
    border-radius: 3px;
    line-height: 2em;
}
.footer .btn:hover {
    background-color: palevioletred;
}